<h1>New User</h1>

<center>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= f.text_field :username, placeholder: "Username"  %>
  </div>
  <div class="field">
    <%= f.text_field :password_digest, placeholder: "Password"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>

<%= link_to 'Back', users_path %>
