<p id="notice"><%= notice %></p>

<h1>Listing Challenges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Video</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.name %></td>
        <td><%= challenge.description %></td>
        <td><%= challenge.image %></td>
        <td><%= challenge.video %></td>
        <td><%= challenge.category_id %></td>
        <td><%= link_to 'Show', category_challenge_path(@category, challenge) %></td>
        <td><%= link_to 'Edit', edit_category_challenge_path(@category, challenge) %></td>
        <td><%= link_to 'Destroy', category_challenge_path(category_id: @category.id, id: challenge.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_category_challenge_path(category_id: @category.id) %>
