<p id="notice"><%= notice %></p>

<div class="pagetitle"><%= category %> challenges</div>

<table class="challenge_table">
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td class="challenge_thumbnail">
            <img src="<%= challenge.image_path %>"></td>
        <td class="challenge_info">
            <div style="font-size: 150%">
                <strong><%= challenge.name %></strong>
            </div><div>
                <p>Description: <%= challenge.description %></p>
            </div><div>
                <p>Bounty: <%= challenge.bounty_total %><p>
            </div>
        </td>
        <td><%= link_to 'Show', category_challenge_path(@category, challenge) %></td>
        <!--
        <td><%= link_to 'Edit', edit_category_challenge_path(@category, challenge) %></td>
        <td><%= link_to 'Destroy', category_challenge_path(category_id: @category.id, id: challenge.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="new_challenge_button">
   <%= link_to 'Create Challenge', new_category_challenge_path(category_id: @category.id) %>
</div>
