<p id="notice"><%= notice %></p>

<div class="pagetitle"> <%= @challenge.name %> </div>

<center>
<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Image:</strong>
  <img style="max-height: 600px; max-width: 600px;"  src="<%= @challenge.image_path %>">
</p>

<p>
  <strong>Category:</strong>
  <%= category_name %>
</p>
</center>
<div class="accept_challenge_button">
<%= link_to 'Accept', 'challeges#accept' %>
</div>
