<p id="notice"><%= notice %></p>

<div class="pagetitle"> <%= @challenge.name %> </div>

<center>
<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= category_name %>
</p>

<p>
  <img style="max-height: 600px; max-width: 600px;"  src="<%= @challenge.image_path %>">
</p>
</center>
<div class="accept_challenge_button" style="margin: 0 auto; width: 100%; display: block; text-align: center; padding-right: 0">
<%= link_to 'Accept', 'challeges#accept' %>
</div>
