<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
    <%= link_to(image_tag("challalogo.png", alt: "Challa" ), '/', id: "logo") %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
	<% if session[:user_id] %>
      	  <li><%= link_to current_user.username, '/users/' + current_user.id.to_s %></li>
      	  <li><%= link_to "Challenge me!", '#' %></li>
      	  <li><%= link_to "Log out", '/logout' %></li>
	<% else %>
	  <li><%= link_to "Sign up", '/signup' %></li>
	  <li><%= link_to "Log in", '/login' %></li>
	<% end %>
      </ul>
    </nav>
  </div>
</header>
